@font-face {
    font-family: "IconsCourses";
    src: url("IconsCourses.ttf?db0ef29fb932a9460144658ed7fc6922") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: IconsCourses !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
    content: "\f101";
}
.icon-class:before {
    content: "\f102";
}
.icon-proffy:before {
    content: "\f103";
}
.icon-study:before {
    content: "\f104";
}
