$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$small}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$medium}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$large}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$extra-large}) {
    @content;
  }
}
