// FONT WEIGHT
$FONT_WEIGHT_LIGHT: 200;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;

// FONT SIZE
$FONT_SIZE_38: 38px;

// LINE HEIGHT
$LINE_HEIGHT_18: 18px;

// FONT STYLE
@mixin HEADING_1 {
  font-weight: $FONT_WEIGHT_REGULAR;
  font-size: $FONT_SIZE_38;
  line-height: $LINE_HEIGHT_18;
}
