@import "./colors";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.global-flex,
.global-center,
.global-align-center,
.global-justify-center,
.global-justify-between,
.global-direction-column {
  display: flex;
}

.global-center {
  justify-content: center;
  align-items: center;
}

.global-align-center {
  align-items: center;
}

.global-justify-center {
  justify-content: center;
}

.global-justify-between {
  justify-content: space-between;
}

.global-direction-column {
  flex-direction: column;
}

.global-header-bkg {
  position: absolute;
  background: $PURPLE2;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  z-index: 0;
}

.global-relative {
  position: relative;
}
