@import '../../../../styles/colors';

.categories {
  width: 100%;
}

.categories-title {
  padding: 1.5rem 0 3rem;
}

.categories-box {
  background: $WHITE1;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
}

.categories-box-title {
  margin: 1rem 0;
}
