import React, { FC } from 'react';

import { Default } from 'shared/templates';
import { t } from 'i18n';
import './styles.scss';

const {{pascalCase name}}: FC = () => {
    return (
      <Default 
        content={
          <section>
            <h1>{t('{{camelCase name}}:{{camelCase name}}')}</h1>
          </section>
        }
    />
  );
};

export default {{pascalCase name}};