@import "../../../../styles/colors";

.home-container {
  background-color: $PURPLE1;
}

.home-wrapper {
  margin-top: 50px;
}

.home-banner {
  margin: 0 auto 100px auto;
}

.home-title {
  margin-bottom: 30px;
}

.home-sub-title {
  margin-top: 5px;
}

.home-todo {
  border-radius: 10px;
  height: 158px;
  padding: 15px;
  width: 48%;
}

.home-todo-study {
  background-color: $PURPLE2;
}

.home-todo-class {
  background-color: $GREEN1;
}

.home-button-language {
  background-color: $PURPLE1;
  border: 1px solid $PURPLE1;
  border-radius: 4px;
  color: $WHITE1;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $PURPLE2;
    border: 1px solid $PURPLE2;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

.home-language-active {
  background-color: $PURPLE2;
  border: 1px solid $PURPLE2;
  border-radius: 4px;
}
