@import '../../../styles/colors';

.template-list {
  background-color: $GRAY1;
  min-height: calc(100vh - 0px);
}

.template-list-header {
  background-color: $PURPLE2;
  padding-bottom: 50px;
}

.template-list-body {
  position: relative;
  top: -50px;
}
